.score {
  position: absolute;
  top: 0;
  right: 2rem;
  border: 2px solid #fff;
  border-top: 0;
  padding: 2rem;
  &__title {
    margin-bottom: 1rem;
  }
  &__player {
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }
}
