.gameBoard {
  margin-bottom: 20px;
  &__inner {
    max-width: 462px;
    display: flex;
    flex-flow: wrap;
    margin-bottom: 3rem;

    @media (max-width: 500px) {
      max-width: 312px;
    }
  }
}
