*{
    box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1, h2{
    color: #81b8ef;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.board-container{
    margin-bottom: 20px;
}

.board{
    max-width: 462px;
    display: flex;
    flex-flow: wrap;
}

.box{
    background-color: #3a434e;
    color: #80b7ef;
    margin: 2px;
    width: 150px;
    height: 150px;
    font-size: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box:not(.has-value):hover{
    background-color: #4d6175;
    cursor: pointer;
}
.box p{
    margin: 0px;
}

button.playAgainBtn{
    border: 2px solid #81b8ef;
    background-color: #81b8ef;
    color: #282d33;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}
button.playAgainBtn:hover{
    background-color: #282d33;
    color: #81b8ef;
    cursor: pointer;
}